@import "../../Assets/Styles/styles.scss";

.home-div {
  @include displayCenter;
  background-color: $main-color;
  position: relative;
  background: url("../../Assets/Images/banner1.jpg") center;
  background-size: cover;
  height: 575px;
  overflow: hidden;

  .container {
    @include displayCenter;
    color: white;
    border: 6px solid white;
    padding: 0px 14px;
  }

  p {
    font-size: 3rem;
  }
}
